{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('fbdisconnect')}}">Logout </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>


	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="col-md-3">
		<h1>Categories</h1>
			<a href="{{url_for('newCategory')}}">
				<button id="new-category">
					New Category
				</button>
			</a>
		{% for category in categories %}
			
			<a href = "{{url_for('showCategory', category_id = category.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 category-list">
							<h3>{{category.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>	
	<div class="col-md-7">
		<h1>Item: {{item.name}} in Category: {{category.name}}</h1>

		<a href="{{url_for('editItem', item_id=item.id)}}">

			<button id="new-category">
				Edit Item
			</button>
		</a>
		<a href="{{url_for('deleteItem', item_id=item.id)}}">
			<button id="new-category">
				Delete Item
			</button>
		</a>
			
		
		<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-10 category-list">
					<h4>Description: {{item.description}}</h4>
				</div>
			<div class="col-md-1"></div>
		</div>
		
		
	</div>


{% endblock %}