{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Login </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>


	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="col-md-3">
		<h1>Categories</h1>
		{% for category in categories %}
			
			<a href = "{{url_for('showCategory', category_id = category.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 category-list">
							<h3>{{category.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>	
	<div class="col-md-7">


		<h1>Items in the {{category.name}} Category ({{items|length}})</h1>
		{% for item in items %}
			<a href = "{{url_for('showItemDescription', category_id = category.id, item_id = item.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 category-list">
							<h3>{{item.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}